@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
}

nav {
    background: #1A1B1E;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 50px;
    height: auto;
    transition: width 0.3s ease-in-out;
}

.navbar-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.navbar-search input {
    width: 100%;
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #a7a7a75b;
    color: white;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 15px;
}

nav ul {
    display: flex;
    align-items: center;
    z-index: 100000;
}

nav ul li {
    margin: 15px 0px 0px 18px;
}

nav ul li a {
    color: white;
    padding: 0px 5px;
    border-radius: 3px;
}

.checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: transform 1s ease;
    display: none;
}

.checkbtn .menu-icon {
    transition: transform 0.3s ease;
}

#check {
    display: none;
}

body.no-scroll {
    overflow: hidden;
}

@media (max-width: 952px) {
    .navbar-logo img {
        width: 45px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .search-container {
        width: 80%;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    .navbar-logo {
        order: 2;
        margin-left: auto;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #1A1B1E;
        top: 75px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        border: 1px solid red;
        padding: 0;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
        /* Adjust margin for vertical spacing */
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
    }
}